<section>
    <div class="container-fluid mt-4" style="padding-left: 6rem;">
        <div class="">
            <div class="col-md-6">
                <h2 class="text-center"> Edit <span style="color: rgb(0, 4, 255);font-size:40px;">{{course.course}}</span></h2>
                <form action="/admin/edit-course/{{course._id}}" method="post" enctype="multipart/form-data">
                    <label for="">Course</label>
                    <input type="text" name="course" class="form-control" value="{{course.course}}">

                    <label for="">About</label>
                    <input type="text" name="about" class="form-control" value="{{course.about}}">

                    <label for="">Price</label>
                    <input type="number" name="price" class="form-control" value="{{course.price}}">

                    <label for="">Image</label> <br>
                    <img src="/course-images/{{course._id}}.png" style="max-width: 700px; height:auto; padding:20px;"  alt="tumb image" id="imgView">
                    <input name="Image" type="file" class="form-control" onchange="viewImage(event)">

                    
                    


                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>  
<script>
    function viewImage(event){
        console.log('changing image to new...')
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>